[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"],version = "<2.3.0"}
requests = "*"
pytz = "*"
connexion = {extras = ["swagger-ui"],version = ">=2.6.0"}
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"],version = "*"}
pytest-django = "*"
bitarray = "*"
slackclient = "*"
astropy = "*"
skyfield = "*"
ipdb = "*"
pycrypto = "*"
scipy = "*"
python-jose = "*"
tabulate = "*"
django-environ = "*"
python-dateutil = "*"
importlib-metadata = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
yapf = "*"
rope = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pre-commit = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.6"
