[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"],version = ">=2.1.6"}
requests = "*"
pytz = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
gunicorn = "*"
psycopg2 = "*"
whitenoise = {extras = ["brotli"],version = "*"}
pytest-django = "*"
bitarray = "*"
slackclient = "*"
astropy = "*"
skyfield = "*"
ipdb = "*"
pycrypto = "*"
scipy = "*"
python-jose = "*"
tabulate = "*"
django-environ = "*"
boto3 = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
yapf = "*"
rope = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
